.tagline {
    color: crimson;
}

.product-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 15px;
}

.live-demo {
    border: none;
    border-radius: 5px;
    margin: 10px;
    padding: 15px 30px;
    color: blue;
    background-color: rgba(204, 204, 238, 0.747);
}

.customer-review-section {
    margin: 15px;
    padding: 10px;
}

.review-details-btn {
    border: none;
    border-radius: 5px;
    color: white;
    background-color: rgba(75, 75, 236, 0.979);
    margin: 10px;
    padding: 5px 30px;
}